model {
  detector {
    yolo {
      num_classes: 10
    }
  }
}
train_config {
  gpus: "0"
  checkpoint_path: "/home/joshtrick/workspace/projects/dl_train_gui/rainlander/model_zoo/detection/tiny_yolo/ckpt"
  train_dir: "/home/joshtrick/workspace/projects/dl_train_gui/rainlander/workspace/model_tmp"
  encrypted_initial_checkpoint: true
}
reader {
  batch_size: 2
  class_name_path: "/home/joshtrick/workspace/projects/testing_data/hj_testing/testing_data.names"
  input_sizes: 416
  input_sizes: 416
  preprocessing {
    random_translate: true
    random_crop: true
    random_horizontal_flip: true
  }
  image_input_reader {
    image_dir: "/home/joshtrick/workspace/projects/testing_data/hj_testing"
    label_path: "/home/joshtrick/workspace/projects/testing_data/hj_testing"
  }
}
